@model Senstay.Dojo.Models.View.DownloadViewModel
@{
    ViewBag.Title = "Tables Download";
}
<br />
<a href="@Url.Action("DownloadAA", "ExportDb")">Download Accounts list</a><br />
<a href="@Url.Action("DownloadCPL", "ExportDb")">Download Property list</a><br />
<a href="@Url.Action("DownloadInV", "ExportDb")">Download Inquiries Validation</a>


