<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- code-first Entity Framework DB connecton string -->
    <add name="DojoDbConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=DojoDev;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <!--<add name="DojoDbConnection" connectionString="Data Source=senstayrds3.c55ista8sagg.us-west-2.rds.amazonaws.com;Initial Catalog=DojoDev;User ID=sa;Password=GfhjkmCtycn'q7;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!-- Scraper server FTP resource -->
    <add key="AirbnbFtpUrl" value="ftp://54.191.89.89/" />
    <add key="FtpAccount" value="Senstay.Dojo.FTP" />
    <add key="FtpSecret" value="P7gZX&amp;rpyA" />
    <add key="CompletedUrl" value="Transactions/Completed_Transactions" />
    <add key="FutureUrl" value="Transactions/Future_Transactions" />
    <add key="GrossUrl" value="Transactions/Gross_Earnings" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>