@{
    ViewBag.AppName = "SenStay Dojo";
    ViewBag.Title = "Owner Payout Report";
}

<div class="navbar navbar-fixed-top actionBar-fixed-top">
    @Html.Partial("OwnerPayoutActionBar")
</div>

<div id="dojo-alert" class="alert-container"></div>

<div id="AirbnbAccountReport" class="app-page-content">
    <div id="OwnerPayoutReportGrid" class="app-grid"></div>
</div>

<div><span id="reportNotification" style="display:none;"></span></div>

@Html.Partial("_ConfirmationDialog")

@section scripts
{
    @Scripts.Render("~/Scripts/datejs.js")
    @Scripts.Render("~/Scripts/app/ownerPayoutReport.js")

    <script>
        $(document).ready(function () {
            // default to 3 months
            var beginDate = new Date(2017, 4, 1); // the first date of data available; this will get the entire records
            var endDate = Date.today();
            DojoWeb.OwnerPayoutReportBar.install(beginDate, endDate);

            DojoWeb.OwnerPayoutReport.init('OwnerPayoutReportGrid');
        });
    </script>
}
