@model Senstay.Dojo.Models.View.OwnerStatementSummaryModel

<div class="owner-statement-page">
    @Html.Partial("_SummaryPartial", Model)
</div>

@section styles
{
    <link rel="Stylesheet" href="@Href("~/content/app/revenue.css")" />
    <link rel="Stylesheet" href="@Href("~/content/app/ownerStatement.css")" />
}



