<div id="DojoActionBar" class="actionBar vertical-align small">
    <!-- page title -->
    <div id="actionBarTitle" class="actionBar-item actionBar-text">
        <i class="fa fa-university"></i> <span style="font-size:larger;font-weight:bold">@ViewBag.Title <span id="gridDataCount"></span></span>
    </div>
    <div class="section-indicator"></div>

    <!-- custom action filters -->
    <div class="actionbar-custom-button">
        <div class="actionBar-market-text">Property Code Search</div>
        <div>
            <span>@Html.TextBox("PropertyCode")</span>
        </div>
    </div>
    <div class="actionBar-item-alt">
        <button id="actionBarGo" class="btn btn-xs btn-primary" title="Retrieve inquiries for the date range"> GO </button>
    </div>
    <div class="section-indicator"></div>
    <div class="actionbar-custom-button">
        <div class="actionBar-market-text">ID Search</div>
        <div>
            <span>@Html.TextBox("ID")</span>
        </div>
    </div>
    <div class="actionBar-item-alt">
        <button id="actionBarSearchID" class="btn btn-xs btn-primary" title="Retrieve inquiries for the date range"> GO </button>
    </div>
    <div class="section-indicator"></div>
    <!-- Date range -->
    
</div>

<script>
    
</script>


