<div class="float-left statement-filter-margin" style="margin-top:5px;">
    Property Color Code:
    <span>
        <span id="legend-approved" style="color:blue;padding-right:10px;padding-left:5px;">Approved</span>
        <span id="legend-reviewed" style="color:green;padding-right:10px;">Reviewed</span>
        <span id="legend-has-data" style="color:black;padding-right:10px;">To-Do</span>
        <span id="legend-no-data" style="color:gray;text-decoration:line-through;">No Data</span>
    </span>
</div>
