@{
    ViewBag.PageHint = "Revenue";
}

<div class="dialog-page-content">
    <div class="combine-expenses-action">
        @*<div class="pull-left">
            <input id="ExpenseSave" type="button" value="Update & Exit" class="btn btn-success btn-default btn-spacing" />
        </div>*@
        <div class="combine-expenses-tip pull-left">Use drag-and-drop to combine or disassociate expenses </div>
        <div class="clearfix"></div>
    </div>

    <div class="combine-expenses">
        <div class="expense-data-tree">
            <div id="expenseTree" class="expense-tree"></div>
        </div>
    </div>
</div>



