.report-page {margin-top:0px;padding:0px 20px 0px 20px;min-height:400px;}
.report-page-title {padding-bottom:20px;}
.report-h2 {font-size:24px;padding:20px 10px;font-weight:bold;}
.report-chart {margin:10px;}