@model Senstay.Dojo.Models.View.RegisterViewModel
@{
    ViewBag.AppName = "SenStay Dojo";
    ViewBag.Title = "Google Drive Connection Test";
}

<div class="ss-page-content ss-page-form-720">
    <div class="ss-page-title ss-h2">@ViewBag.AppName Site @ViewBag.Title</div>
    <div class="ss-article-title-divider"></div>
    <div class="ss-simple-box">
        <div class="signin-section">
            <div class="form-group">
            </div>
            <div class="col-xs-12 control-group">
                <div class="input-group">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section styles
{
    <link rel="Stylesheet" href="@Href("~/content/app/appform.css")" />
}
